.styled-list {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.styled-list li {
  display: flex;
  align-items: center;
  gap: 18px;
}

.styled-list__icon {
  width: 70px;
  height: 70px;
}

@media (min-width: 767px) and (max-width: 1320px) {
  .styled-list {
    grid-template-columns: 1fr 1fr;
  }

  .styled-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .styled-list__icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 767px)  {
  .styled-list__icon {
    width: 50px;
    height: 50px;
  }
}