.main_content {
  position: relative;
  margin-top: 100vh;
  min-height: 100vh;
  background-color: #fff;
  z-index: 3;
  padding-bottom: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

@media screen and (max-width: 1200px) {
  .main_content {
    margin-top: 700px;
  } 
}

@media screen and (max-width: 500px) {
  .main_content {
    padding-bottom: 40px;
  }
}