.logo {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.logo-image {
  height: 49px;
  width: 46px;
}

.logo-text {
  height: 16px;

}

@media screen and (max-width: 767px) {
  .logo-image {
    width: 29px;
    height: auto;
  }

  .logo-text {
    height: 13px;
    width: 100px;
  }
}